<header>
    <!-- Start of navbar -->
    <div class="navbar-fixed">
        <nav role="navigation" class="navbar-fixed">
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse navUser"><i class="material-icons"></i></a>
                <ul class="navToAppend">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>